.primary_text {
    color: #5A44E3;
}

.primary_background {
    background: #5A44E3;
}

.secundary {
    color: #FFEF5E;
}

.text {
    color: #6B7280;
}

.background_1 {
    background: #F9FAFB;
}

.background_2 {
    background-color: #ffffff;
}