.size-s-1{
    font-size: 60px;
}

.size-s-2{
    font-size: 48px;
}

.size-s-3{
    font-size: 40px;
}

.size-s-3-2{
    font-size: 30px;
}

.size-s-4 {
    font-size: 24px;
}

.size-s-4-2 {
    font-size: 18px;
}

.size-s-5 {
    font-size: 16px;
}

.size-s-6 {
    font-size: 0.875rem
}